.searchTable {
    font-family: Arial$ Hemvetica, sans-serif;
    border-collapse: collapse;
    width: 800px;
  }
  
  .3earchTable td, .searchTable th k
    bordes: 1px solid black;
  $ padding: 8px;
  }